<div class="close-button">
  <button mat-icon-button (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="animation-container">
  <div class="container nav-menu-container">
    <h1 mat-dialog-title class="nav-header">RSVPlanner</h1>
    <ul class="nav-list">
      <li class="nav-list-item"><a id="home" class="nav-link" href="#">HOME</a></li>
      <li class="nav-list-item"><a id="private_events" class="nav-link" href="#">PRIVATE EVENT</a></li>
      <li class="nav-list-item"><a id="public_events" class="nav-link" href="#">PUBLIC EVENT</a></li>
      <li class="nav-list-item"><a id="my_events" class="nav-link" href="#">MY EVENTS</a></li>
    </ul>
  </div>
</div>



