@import "src/styles/event-card-style";
@import "src/styles/colors";
@import "src/styles/animations";

$buttonSize: 80px;

.card{
  overflow-x: auto !important;
  overflow-y: hidden !important;
  min-height: 400px !important;
  max-height: 50vh;
}

.event-image{
  width: 400px;
}

div[mat-subheader]{
  justify-content: center;
  color: $text_dark_secondary;
}

div[matListItemTitle]{
  color: black;
  font-weight: bold;
  padding: 0 8px 0 10px;
  text-align: left;
}

h1{
  font-size: 30px;
  font-weight: bold;
}

mat-divider{
  height: 100%;
  color: green;
}

.btn-image{
  width: $buttonSize;
  height: $buttonSize;
  border-radius: 10px;
  border: none;
  background-image: url('../../assets/img/CalenderIcon.svg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.accepted{
  background-image: url('../../assets/img/CalenderIcon_accepted.svg') !important;
}
.declined{
  background-image: url('../../assets/img/CalenderIcon_declined.svg') !important;
}

.btn-text-container{
  position: relative;
  width: $buttonSize;
  height: $buttonSize;
}

.btn-heading{
  color: $text_bright;
  position: absolute;
  font-size: small;
  margin: 0;
  right: calc($buttonSize/2);
  transform: translate(50%, 0%);
}

.btn-text{
  position: absolute;
  color: $text_dark_primary;
  font-weight: bold;
  font-size: large;
  right: calc($buttonSize/2);
  margin-top: calc($buttonSize/2);
  transform: translate(50%, -35%);
}

.calender-container{
  margin-right: 10px;
}

.submit-calender-button-container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.submit-calender-button{
  max-width: 50%;
  justify-self: center;
  color: $text_bright;
  background-color: $red-contrast;

  &:hover{
    background: $contrast;
    box-shadow: 0 0 10px 0 $black;
  }
}
