@import "src/styles/colors";

.wrapper{margin:5vh}

.card{
  border: none;
  overflow:hidden;
  border-radius:20px;
  min-height:60vh;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);

  @media (max-width: 768px) {
    min-height:350px;
  }

  @media (max-width: 420px) {
    min-height:300px;
  }
}

.card-img-overlay{
  background: $contrast;
  background: linear-gradient(-45deg, $contrast-trans7 0%, $contrast 100%);
  background-size: cover;
}
.card-title{
  text-align: center;
}

.subtitle{
  text-align: center;
}
