@import "src/styles/event-card-style";
@import "src/styles/animations";

.signup-outer-container{
  position: relative;
  display: flex;
  z-index: 100;
}

.signup-container{
  position: absolute;
  left: 87%;
  top: 15px;
  transform: translate(-50%, 0%);
}

.card-button{
  mat-icon{
    transform: scale(1.5);
    animation: zoom-in-zoom-out 800ms ease;
  }
}

.search-scale{
  animation: smaller-zoom 1000ms ease;
  transform: scale(0.7);
}
