$white: #fafafa;
$black: #171717;
$background-dark: #282828;
$background_less_dark: #585858;
$menu-bar: #181818;
$contrast: #ffce51;
$contrast-trans4: rgba(255, 166, 46, 0.4);
$contrast-trans7: rgba(253, 187, 96, 0.7);
$contrast-dark: #ff7e2e;
$button-contrast: #241E4E;
$button-hover: #9D5C63;
$button-contrast-trans4: rgba(36, 30, 78, 0.4);
$red-contrast-trans4: rgba(249, 67, 57, 0.4);
$text_bright: #fafafa;
$text_secondary: #b3b3b3;
$text_dark_primary: #121212;
$text_dark_secondary: #252525;
$text_dark_tertiary: #3f3f3f;
