@import "src/styles/colors";
@import "src/styles/popup-card";

.close-button, .dialog-button{
  background-color: $red-contrast;

  &:hover{
    background: $contrast;
  }
}

mat-label{
  color: $text_bright;
}

.list-group{
  margin-bottom: 15px;
}

.list-group-item{
  text-align: start;
  border-color: $contrast;
  background: $background_less_dark;
  color: $contrast;
}

.datepicker-icon{
  color: $text_bright;
  font-size: x-large;
}
