<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 col-lg-10 mb-2">
    <div class="card search-bar text-dark" style="background-image:url('assets/img/private-event-bg.jpg');">
      <div class="card-img-overlay">
        <form class="d-flex search-container">
          <input id="search-field" class="form-control search-text me-2" value="{{searchValue}}" type="search" placeholder="Find public events!" aria-label="Search Public Events">
          <button class="btn btn-dark search-button" aria-label="Search Button" (click)="searchEvents()">
            <mat-icon class="search-icon">search</mat-icon>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
