@import "src/styles/event-card-style";
@import "src/styles/colors";
@import "src/styles/animations";

.card{
  overflow-x: auto !important;
  overflow-y: auto !important;
  min-height: 450px !important;
  height: max-content;
}

.event-image{
  width: 400px;
}

div[mat-subheader]{
  justify-content: center;
  color: $text_dark_secondary;
}

div[matListItemTitle]{
  color: black;
  font-weight: bold;
  padding: 0 8px 0 10px;
  text-align: left;
}

mat-list-item{
  height: auto !important;
  padding-bottom: 15px!important;
}

div[matListItemLine]{
  word-break: break-word;
}

h1{
  font-size: 30px;
  font-weight: bold;
}
