<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img mat-dialog-title src="../../assets/img/logo-no-background.png" alt="RSVPlanner Logo" class="navbar-logo">
    </a>
    <div class="d-flex">
      <button *ngIf="userService.isLoggedIn()"  class="logout-button" mat-raised-button aria-label="LogOut Button"  (click)="logOut()">
        {{user}}<mat-icon>logout</mat-icon>
      </button>
      <button *ngIf="userService.isLoggedIn()" mat-fab class="notification-button" matTooltip="Notify Me" (click)="notificationEvent()" aria-label="Activate/Deactivate Notifications">
        <mat-icon *ngIf="!navigationOn">notifications_active</mat-icon>
        <mat-icon *ngIf="navigationOn">notifications_off</mat-icon>
      </button>

      <button class="navbar-dropdown" mat-icon-button aria-label="Navigation Menu Button" (click)="openNavigation('home')">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</nav>
