@import "src/styles/colors";

.navbar{
  position: fixed;
  z-index: 101;
  width: 100%;
}

.navbar-logo{
  max-height: 7vh;
  max-width: 80vw;
  margin: 0;
}

.bg-custom{
  background-color: $menu-bar;
}

.navbar-dropdown{
  color: $contrast;
  transition: .2s ease-in-out 0s;
}

.navbar-dropdown:hover{
  color: $contrast-dark;
  transform: scale(1.3);
}

.navbar-dropdown:focus{
  outline: none !important;
}

.logout-button{
  max-width: 250px;
  display: flex;
  align-items: center;
  color: $text_dark_tertiary;
  background-color: $contrast;
  margin-right: 30px;

  &:hover{
    color: $text_bright;
    background: $red-contrast;
  }

  mat-icon{
    margin-left: 10px;
  }

}

.notification-button{
  color: $text_dark_tertiary;
  background-color: $contrast;
  margin-right: 30px;
  height: 40px;
  width: 40px;

  &:hover{
    color: $text_bright;
    background-color: $red-contrast;
  }
}

