@import "src/styles/colors";

.navbar-logo{
  max-height: 7vh;
  max-width: 80vw;
  margin: 0;
}

.bg-custom{
  background-color: $menu-bar;
}

.navbar-dropdown{
  color: $contrast;
  transition: .2s ease-in-out 0s;
}

.navbar-dropdown:hover{
  color: $contrast-dark;
  transform: scale(1.3);
}

.navbar-dropdown:focus{
  outline: none !important;
}


