<section class="wrapper">
  <div class="container">
    <div class="row pb-5">
      <app-search-bar></app-search-bar>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div id="public-event-card" class="card card-has-bg text-dark click-col" (click)="navigateTo('public-events')" style="background-image:url('assets/img/public-event-card.jpg');">
          <img class="card-img d-none" src="assets/img/public-event-card.jpg" alt="Picture of a festival linking to public event management">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body mt-5">
              <small class="card-meta mb-2">RSVPlanner</small>
              <h1 class="card-title mt-0 fs-3 event-heading">Public Events</h1>
              <p class="event-description fs-5">Plan public events where everyone can join. Recommended for festivals, concerts, exhibits or Dorfdiskos.</p>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div id="private-event-card" class="card card-has-bg text-dark click-col" (click)="navigateTo('private-events')" style="background-image:url('assets/img/private-event-card.jpg');">
          <img class="card-img d-none" src="assets/img/private-event-card.jpg" alt="Picture of a festival linking to public event management">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body mt-5">
              <small class="card-meta mb-2">RSVPlanner</small>
              <h1 class="card-title mt-0 fs-3 event-heading">Private Events</h1>
              <p class="event-description fs-5">Plan events for invited people only. Recommended for weddings, parties, birthdays or club and company events.</p>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div id="my-event-card" class="card card-has-bg text-dark click-col" (click)="navigateTo('my-events')" style="background-image:url('assets/img/my-event-card.jpg');">
          <img class="card-img d-none" src="assets/img/my-event-card.jpg" alt="Picture of a festival linking to public event management">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body mt-5">
              <small class="card-meta mb-2">RSVPlanner</small>
              <h1 class="card-title mt-0 fs-3 event-heading">My Events</h1>
              <p class="event-description fs-5">Show all you current events and pending invitations to new events.</p>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
